{% extends 'base.html'%}

{% block base %}

    {% if acknowledgeUser %}
        <h1>Welcome to Variable HTML - {{firstName | lower | capfirst}} {{lastName | lower | capfirst}}</h1>
    {% else %}
        <h1>Welcome to Variable HTML</h1>
    {% endif %}
    
    <ol>
        {% for key,val in traits.items%}
        <li>{{key}} -> {{val}}</li>
        {% endfor %}
    </ol>

    <h2>Another iteration possible</h2>
    <ul>
        {% for item in details%}
        <li>{{item}}</li>
        {% endfor %}
    </ul>

    <h3>
        <a href="{% url 'app1:app1Home'%}">Redirect to Home</a>
    </h3>

{% endblock %}