body { /** GENERIC STYLING OF TEXT maaroon #61122f**/
    font-size: 16px;
    color: #fff;
    background-color: #80000f;
    font-family: 'Oxygen', sans-serif;
}

/** BACKGROUND IMAGE **/
#header-nav {
    background: url('../images/background-photo.jpg') repeat;
    background-position: center;
}

/** HEADER **/
#header-nav {
    background-color: #ffffff;
    border-radius: 0;
    border: 0;
}

/** NAVBAR STYLING **/
.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    font-weight: bold;
    text-shadow: 1px 1px 1px #263238;
    text-transform: uppercase;
    font-size: 150%;
    color: #37474f;
}

.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}

.navbar-brand p {
    color: #636B59;
    text-transform: uppercase;
    font-size: 80%;
    margin-top: 25px;
    font-weight: bold;
}

.navbar-brand p span {
    vertical-align: middle;
    margin-bottom: 25px;
}

.navbar-brand p img{ 
    height: 30px;
}   

#logo-img { /** NAVBAR LOGO **/
    background: url('../images/burger-logo.png') no-repeat;
    background-position: center;
    width: 150px;
    height : 150px;
    margin: 10px 15px 10px 0;
}

/** NAVBAR ICONS STYLING **/
#nav-list{
    margin-top: 10px;
}

#nav-list a {
    text-align: center;
    color: #37474f;
    transition: transform .5s;
}

#nav-list a:hover{
    background: gainsboro;
    box-shadow: 0 0 10px black;
    transform: scale(1.05);
}

#nav-list a span{
    font-size: 180%;
}

#phone{
    margin: 5px;
}

#phone a {
    text-align: center;
    font-size: 80%;
}

/** SIZE STYLING **/
@media (min-width: 768px) and (max-width: 991px) {
    #nav-list a {
        margin-top: 25px;
        font-size: 80%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #nav-list a {
        font-size: 90%;
    }
    .navbar-brand h1 {
        font-size: 180%;
    }
    .navbar-brand p {
        font-size: 100%;
    }
    #phone a {
        font-size: 90%;
    }
}

@media (max-width: 767px) {
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }
    .navbar-brand h1 { 
        padding-top: 10px;
        font-size: 8vw;
    }
    .navbar-brand p { 
        padding-top: 10px;
        font-size: 70%;
        margin-top: 12px;
    }
    .navbar-brand p img{ 
        height: 25px;
    }    
    #collapsable-nav a {
        font-size: 120%;
    }
    #collapsable-nav a span {
        font-size: 100%;
        margin-right: 7px;
    }
}

@media (min-width: 440px) and (max-width: 767px){
    .navbar-brand h1 {
        font-size: 6vw;
    }
}

/** NAVBAR BUTTON STYLING **/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid #37474f;
}

.navbar-header button.navbar-toggle{
    clear: both;
    margin-bottom: 30px;
}

/** CALL BUTTON XS MODE STYLING **/
#call-btn{
    border: 1px solid white;
    margin: 0 15px 20px 15px; /** TOP RIGHT BTM LEFT **/
    box-shadow: 0 0 10px darkgrey;
    transition: transform .5s;
}

#call-btn:hover{
    box-shadow: 0 0 10px darkgreen;
    background: darkgreen;
    transform: scale(1.05);
}

#call-btn span {
    font-size: 100%;
    color: #fff;
}


/** MAIN CONTENT STYLING **/
.jumbotron{
    box-shadow: 0 0 25px black;
    border: 1px solid white;
    margin: 0 auto 15px auto;
}

@media (min-width: 1200px){
    .jumbotron{
        background: url('../images/mass-food-1024x682.jpg') no-repeat;
        height: 675px;
        max-width: 1024px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .jumbotron{
        background: url('../images/mass-food-900x599.jpg') no-repeat;
        height: 598px;
        max-width: 900px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .jumbotron{
        background: url('../images/mass-food-768x511.jpg') no-repeat;
        height: 510px;
        max-width: 768px;
    }
}

@media (max-width: 767px) {
    .container .jumbotron{
        padding: 0;
        padding-left: 0;
    }
}

#select-menu, #select-location{
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    border: 1px solid white;
}

#select-menu:hover,#select-menu:active, #select-location:hover,#select-location:active{
    box-shadow: 0 0 10px white;
    transform: scale(1.05);
}

#select-menu{
    background: url('../images/lunch-pic.jpg') no-repeat;
    background-position: center;
    transition: transform .5s;
}

#select-location{
    transition: transform .5s;
}

#select-menu span, #select-location span{
    position: absolute;
    bottom: 0; right: 0; width: 100%; text-align: center; font-size: 160%; background-color: black;
    color: white; opacity: 0.6;
}

#select-location span{
    opacity: 0.8;
}

/** FOOTER STYLING **/
.panel-footer{
    padding: 35px 0 30px 0;
    background: #222;
    margin-top: 15px;
    font-size: 90%;
}

.panel-footer .container {
    background-color: #222;
  } /** break fix for mobile footer color **/

.panel-footer div.row{
    margin-bottom: 10px;
}

#opening-hours-foot, #career-foot, #about-foot {
    line-height: 1.5;
}

#opening-hours-foot > span, #career-foot > span, #about-foot > span{
    font-size: 110%;
    font-weight: bold;
} 
#about-foot p {
    font-style: italic;
}

#career-foot > span > #highlight {
    font-style: italic;
    color:blue;
}

@media (min-width: 1200px){
    .panel-footer{
        font-size: 110%;
    }
    #opening-hours-foot > span, #career-foot > span, #about-foot > span{
        font-size: 130%;
    }
}

/** MENU STYLING **/
#menu-banner{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border: 1px solid white;
    box-shadow: 0 0 25px black;
    margin-bottom: 15px;
}

#menu-banner span{
    position: absolute;
    top: 0; right: 0; width: 100%; text-align: center; font-size: 300%; background-color: #1a0000;
    color: #e1b74d; opacity: 0.8;
    text-transform: uppercase;
}

@media (max-width: 768px){
    #menu-banner span{
        font-size: 6vw;
    } 
} /** RESPONSIVE MENU BANNER **/

/** MENU OPTIONS STYLING **/
#menu-item-1, #menu-item-2, #menu-item-3, #menu-item-4, #menu-item-5, #menu-item-6 {
    margin: 10px auto 0 auto;
    height: 300px;
    width: 100%;
    border: 1px solid grey;
    box-shadow: 0 0 10px black;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s, filter 0.3s ease-in-out;  transform-origin: center center;  filter: brightness(100%);
}
#menu-item-1:hover, #menu-item-2:hover, #menu-item-3:hover, #menu-item-4:hover, #menu-item-5:hover, #menu-item-6:hover {
    filter: brightness(120%);  transform: scale(1.05);
}

#menu-item-1 span.pic, #menu-item-2 span.pic, #menu-item-3 span.pic, #menu-item-4 span.pic, #menu-item-5 span.pic, #menu-item-6 span.pic {
    position: absolute;
    bottom: 0; right: 0; width: 100%; text-align: center; font-size: 160%; background-color: #1a0000;
    color: white; opacity: 0.8; 
    text-transform: uppercase;
}

@media (max-width: 767px) {
    #menu-item-1, #menu-item-2, #menu-item-3, #menu-item-4, #menu-item-5, #menu-item-6 {
        width: 350px;
    }
    #menu-item-1 span, #menu-item-2 span, #menu-item-3 span, #menu-item-4 span, #menu-item-5 span, #menu-item-6 span {
        font-size: 120%;
    }
}
/** MENU OPTION PHOTOS **/
#menu-item-1{
    background: url('../images/item-1.jpg') no-repeat;
    background-position: center;
    padding: 0 auto 0;
}
#menu-item-2{
    background: url('../images/item-2.jpg') no-repeat;
    background-position: center;
}
#menu-item-3{
    background: url('../images/item-3.jpg') no-repeat;
    background-position: center;
}
#menu-item-4{
    background: url('../images/item-4.jpg') no-repeat;
    background-position: center;
}
#menu-item-5{
    background: url('../images/item-5.jpg') no-repeat;
    background-position: center;
}
#menu-item-6{
    background: url('../images/item-6.jpg') no-repeat;
    background-position: center;
}

p.text{
    margin-top: 0;
    font-size: 120%;
    text-align: center;
    background-color: black;
    color: #e5c063; opacity: 0.8;
}

div > .menu-text-only{
    margin: 10px auto 5px auto;
    font-style: italic;
    font-size: 85%;
    color: #e9c979;
}

#menu-end span{
    margin: 10px auto 5px auto;
    font-style: italic;
    font-size: 85%;
    color: grey;
}