body{
    font-family: 'Oswald', sans-serif;
}

.navbar-brand a{
    text-decoration: none;
    color: #fff;
}

#myCarousel .carousel-item{
    height: 32rem; /**1rem = 16px**/
    background: black;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url('../img/cinema-banner.jpg');
    background-position: center;
    color: white;
    position: relative;
}
#carouselButton {
    right:5px;
    position: absolute;
    bottom: 5px;
    z-index: 1;
}
/**SECOND CAROUSEL STYLING**/
.swiper-container{
    height: 15rem; /**1rem = 16px**/
    background: black;
    color: white;
    position: relative;
}

.swiper-slide{
    display: flex;
    justify-content:center;
    align-items: center;
}
.swiper-container .swiper-scrollbar-drag {
    background: #fff;
}

.swiper-slide .btn-dark{
    padding: 0;
    border: none;
    max-width: 400px;
    transition: transform 0.5s, filter 0.3s ease-in-out;  transform-origin: center center;  filter: brightness(100%);
}

.swiper-slide .btn:hover{
    filter: brightness(120%);  transform: scale(1.01);
}
/**THIRD CAROUSEL STYLING**/
#myCarousel-3.swiper-container{
    height: 42rem; /**1rem = 16px**/
    background: black;
    background-position: center;
    color: white;
    position: relative;
}
.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
    background-color: black;
    color: white; 
    display: inline;
    padding: 0.5rem;
    opacity: 0.8;
    border-radius: 10px;
}

.swiper-slide .subtitle {
    font-size: 21px;
    background-color: grey;
    color: white; 
    display: inline;
    padding: 0.5rem;
    opacity: 0.8;
    border-radius: 10px;
}

.swiper-slide .title span, .swiper-slide .subtitle span{

}

.swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}

.btn-warning {
    color: black;
    border: 2px solid black;
    border-radius: 10px;
}

/**MODAL STYPLING**/
.modal-content{
    background: #18191A;
    background-position: center;
}
.modal-content{
    color: white;
}

/**GENERAL STYLING**/
.container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

#movies-feature .img-fluid{
    height: auto;
    max-width: 100%;
    padding: 0;
    margin: 0 auto 10px auto;
    transition: transform 0.5s, filter 0.3s ease-in-out;  transform-origin: center center;  filter: brightness(100%);
}

#movies-feature .col-2{
    margin: 0 auto 10px auto;
    padding: 0;
}

#movies-feature .img-fluid:hover, #movies-feature .img-fluid:active{
    filter: brightness(120%);  transform: scale(1.05);
}

@media(min-width:480px) and (max-width:992px){
    #myCarousel .carousel-item{
        height: 24rem; /**1rem = 16px**/
    }
}

@media(max-width:480px){
    #myCarousel .carousel-item{
        height: 18rem; /**1rem = 16px**/
    }
    /**CAROUSEL 2 MOBILE VIEW SIZING**/
    .swiper-slide .btn{
        max-width: 300px;
    }
    .swiper-container{
        height: 10rem;
    }
}

#cinema-banner.container{
    
    color: white;
}